
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

*.import

assets/button_arrow/flechebutton_disabledl.png

assets/button_arrow/flechebutton_focus.png

assets/button_arrow/flechebutton_hover.png

assets/button_arrow/flechebutton_normal.png

assets/button_arrow/flechebutton_on.png

assets/button_big/bouton_disabled.png

assets/button_big/bouton_focused.png

assets/button_big/bouton_hover.png

assets/button_big/bouton_normal.png

assets/button_big/bouton_pressed.png

assets/button_long/long_disable.png

assets/button_long/long_focus.png

assets/button_long/long_hover.png

assets/button_long/long_off.png

assets/button_long/long_on.png

assets/button_normal/normal_disabled.png

assets/button_normal/normal_focus.png

assets/button_normal/normal_hover.png

assets/button_normal/normal_off.png

assets/button_normal/normal_on.png

assets/button_skewed/button_back_disabled.png

assets/button_skewed/button_back_focused.png

assets/button_skewed/button_back_hover.png

assets/button_skewed/button_back_normal.png

assets/button_skewed/button_back_pressed.png

assets/button_tab/disabled.png

assets/button_tab/normal.png

assets/button_tab/pressed.png

assets/button_tabs/button_disabled.png

assets/button_tabs/button_focus.png

assets/button_tabs/button_hover.png

assets/button_tabs/button_main_disabled.png

assets/button_tabs/button_main_focus.png

assets/button_tabs/button_main_hover.png

assets/button_tabs/button_main_on.png

assets/button_tabs/button_main.png

assets/button_tabs/button_on.png

assets/button_tabs/button.png

assets/fx/light_blue.png

assets/icons/arrow_down.png

assets/icons/arrow_right.png

assets/icons/arrow_up.png

assets/icons/arrows.png

assets/icons/close_icon.png

assets/icons/file.png

assets/icons/folder.png

assets/icons/hide.png

assets/icons/inventory_icon.png

assets/icons/keybinding/attack.png

assets/icons/keybinding/axis0-1.png

assets/icons/keybinding/axis01.png

assets/icons/keybinding/axis1-1.png

assets/icons/keybinding/axis11.png

assets/icons/keybinding/axis2-1.png

assets/icons/keybinding/axis21.png

assets/icons/keybinding/axis3-1.png

assets/icons/keybinding/axis31.png

assets/icons/keybinding/button0.png

assets/icons/keybinding/button1.png

assets/icons/keybinding/button10.png

assets/icons/keybinding/button11.png

assets/icons/keybinding/button12.png

assets/icons/keybinding/button13.png

assets/icons/keybinding/button14.png

assets/icons/keybinding/button15.png

assets/icons/keybinding/button2.png

assets/icons/keybinding/button3.png

assets/icons/keybinding/button4.png

assets/icons/keybinding/button5.png

assets/icons/keybinding/button6.png

assets/icons/keybinding/button7.png

assets/icons/keybinding/button8.png

assets/icons/keybinding/button9.png

assets/icons/keybinding/dash.png

assets/icons/keybinding/interaction.png

assets/icons/keybinding/mouse1.png

assets/icons/keybinding/mouse2.png

assets/icons/keybinding/mouse3.png

assets/icons/keybinding/mouse4.png

assets/icons/keybinding/mouse5.png

assets/icons/keybinding/move_down.png

assets/icons/keybinding/move_left.png

assets/icons/keybinding/move_ow_down.png

assets/icons/keybinding/move_ow_left.png

assets/icons/keybinding/move_ow_right.png

assets/icons/keybinding/move_ow_up.png

assets/icons/keybinding/move_ow.png

assets/icons/keybinding/move_right.png

assets/icons/keybinding/move_up.png

assets/icons/keybinding/ultime.png

assets/icons/little_arrow_down.png

assets/icons/menu_icon.png

assets/icons/minus.png

assets/icons/more.png

assets/icons/refresh.png

assets/icons/resizer.png

assets/icons/settings_icon.png

assets/icons/size_reset.png

assets/icons/snap.png

assets/panel/options.png

assets/panel/panel_off.png

assets/panel/panel_on.png

assets/panel/panel_v2_off.png

assets/panel/panel_v2_on.png

assets/panel/panel_v2.png

assets/panel/panel.png

assets/range/barre_pleine.png

assets/range/barre_vide.png

assets/range/grabber_off.png

assets/range/grabber_on.png

fonts/font_big.tres

fonts/font_big.ttf

fonts/font.tres

fonts/font.ttf

fonts/texte.csv

fonts/texte.en.translation

fonts/texte.fr.translation

*.apk

*.idsig
